/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.container {
	width: 1120px;
	margin: auto;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}


/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

// Footer

.site-footer {
	background-image: image-set(
		"../../images/dark-wood.png" 1x,
		"../../images/dark-wood@2x.png" 2x
	);
	height: 20rem;
	ul {
		list-style: none;
		margin: 0;
		line-height: 2.5rem;
	}
}

.site-info {
	display: flex;
	flex-flow: row no-wrap;
	color: #fff;
	justify-content: space-between;
	height: 15rem;
	padding-top: 3rem;
}

.footer-lists{
	display: flex;
	ul{
		padding: 0;
		margin: 0;
	}
}

.contact-info{
	padding-right: 2rem !important;
	a {
		text-decoration: none;
		color: #fff;
	}
}

.footer-logo {
	width: 15rem;
	align-self: flex-start;
}

.copyright{
	text-align: center;
	color: #fff;
	font-family: $font_accent;
	padding-top: 2rem;
}

.social-media{
	display: flex;
	text-transform: uppercase;
	font-family: $font_accent;
	p{
		@include black-button;
	}
}