/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.container {
	width: 1120px;
	margin: auto;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}


/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comment-body {
	display: flex;
}

.comment-list {
	margin: 0;
	padding: 0;
}

.comment-author {
	font-weight: bold;
	font-family: $font__main;
	cite {
		font-style: normal;
	}
}

.comment-metadata {
	color: gray;	
}

.comment-meta p {
		margin-bottom: 1rem;
}

.comment-author-avatar {
	margin-right: 2rem;

	img {
		border-radius: 35px;
	}
}

.reply {
	margin-bottom: 2rem;
}

.children li {
	@include comment-border;
}

.comment-list li:not(:first-child) {
	@include comment-border;
}

.comment-respond {
	@include comment-border;
	padding-top: 0;
	h3 {
		font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
	}
}

.comment-form label {
	line-height: 1rem;
}

.comment-form-comment {
	font-family: $font_accent;
	color: black;
	font-size: 1.1rem;
	text-transform: uppercase;
}

.comment-form-author {
	@include comment-form;
	width: 23rem;	
	float: left;
}

.comment-form-email {
	@include comment-form;
	width: 23rem;
	float: right;
}

.comment-form-url {
	@include comment-form;
	clear: both;
}


// Footer

.site-footer {
	background-image: image-set(
		"../../images/dark-wood.png" 1x,
		"../../images/dark-wood@2x.png" 2x
	);
	height: 20rem;
	ul {
		list-style: none;
		margin: 0;
		line-height: 2.5rem;
	}
}

.site-info {
	display: flex;
	flex-flow: row no-wrap;
	color: #fff;
	justify-content: space-between;
	height: 15rem;
	padding-top: 3rem;
}

.footer-lists {
	display: flex;
	ul {
		padding: 0;
		margin: 0;
	}
}

.contact-info {
	padding-right: 2rem !important;
	a {
		text-decoration: none;
		color: #fff;
	}
}

.footer-logo {
	width: 15rem;
	align-self: flex-start;
}

.copyright {
	text-align: center;
	color: #fff;
	font-family: $font_accent;
	padding-top: 2rem;
}

.social-media {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	font-family: $font_accent;
	width: 20rem;
	i {
		padding: 0;
	}
	p {
		@include black-button;
		
		&:hover {
		background: $color_green_brand;
		color: white;
		}	
	}
}

.media-buttons .fa {
	font-size: 1.4rem;
}