/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: white;
  background: #248A83;
  text-align: center;
  margin: 1rem 0 .5rem 0;
  font-size: .9rem;
  padding: .45rem 1.5rem;
	text-transform: uppercase;
	font-family: $font_accent;
	border: none;
  :hover{
    border-color: $color_orange_brand;
  }
  a{
    color: white;
    text-decoration: none;
    font-family: $font_accent;
  }
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: $border_grey;
	text-transform: uppercase;
	font-family: $font_accent;
	border-radius: 3px;
	background-color: #f4f4f4;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

.required {
	color: $color_orange_brand;
}
