/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color_green_brand;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.menu-item {
	padding: 0 1rem;	
}

.main-navigation {
	clear: both;
	display: flex;
	font-family: $font_accent;
	// font-size: 1.2rem;
	color: $color_green_brand;
	float: right;
	align-items: center;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			// a {
			// 	width: 200px;
			// }

			:hover > a,
			.focus > a {
				color: $color__link-hover;
				
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.search-field{ 
	display: none;
	overflow:hidden;
	border: none;
	background: none;
	:focus{
		outline: none;
	}
}

.icon-search{
	cursor: pointer;
	color: $color_green_brand;
}

.search-submit{
	display: inline;
}

.search-form{
	fieldset{
	border: none;
	}
	input{
		border: none;
		outline: none;
	}
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 2rem;
	padding: 0.5rem 0;
}

.logo{
	height: 2rem;
	align-self: center;
	img{
		height: 2rem;
	}
}

.site-header{
	position: fixed;
	background:rgba(255,255,255, 0.9);
	width: 100%;
	border-bottom: $border-grey;
}

.menu-word{
	display: flex;
	flex-flow: row nowrap;
}