/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */


.hero{
	background: url("../../images/home-hero.jpg") no-repeat;
	background-size: cover;
	height: 40rem;
}

